body {
    font-family: 'Poppins', sans-serif;
    background: url('nature3.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    width: 350px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

h2 {
    margin-bottom: 15px;
    font-family: 'Times New Roman';
    font-style: bold;
    font-size: 24px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 600;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #1dd1a1;
    color: #fff;
}

.status {
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
}

#progress-container {
    margin-top: 15px;
    padding: 10px;
    /* background: rgba(255, 255, 255, 0.2); */
    border-radius: 5px;
    color: rgb(57, 146, 178);
    font-size: 14px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0; 
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #1dd1a1;
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 18px;
}
